
  @font-face {
    font-family: "SF Pro Display";
    src: url('assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF');
    font-weight: 500;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url('assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF');
    font-weight: 700;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url('assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.woff');
    font-weight: 400;
  }